$font : 'Raleway', sans-serif;
$color1 : #65A0DC;
$color2 : #FECDF0;

html,body{
	margin: 0;
	padding: 0;
	font-family: $font;
}
#nav{
	height: 50px;
	width: 100%;
	background-color: $color1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a{
		left: 90%;
		top: 2%;
		color: white;
		font-weight: bold;
		text-decoration: none;
		margin-right: 4%;
		border: 1px solid white;
		padding: 3px;
		font-size: 15px;
	}
	a:hover{
		background-color: white;
		color: black;
		transition: 0.5s;
	}
	}
.logo{
	background-image: url('../img/slogan.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 200px;
	width: 100%;
}

#nav2{
	height: 70px;
	width: 100%;
	background-color: white;
	ul{
		height: 70px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		li{

			list-style: none;

			a{
				font-size: 18px;
				color: black;
				text-decoration: none;
			}
		}
	}
}
.logonav{
	background-image: url('../img/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	width: 80px;

}
.logo2{
	height: 400px;
	width: 100%;
	background-image: url('../img/slogan.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
