$font : 'Raleway', sans-serif;
$color1 : #65A0DC;
$color2 : #FECDF0;


.nav1 {
	background-color: #FFC0ED;

	a {
		font-size: 16px;
		text-transform: uppercase;
		font-family : $font;
	}

	.btn {
		background-color: #558ED5;
	}
}

.nav2 {
	background-color: #fff;
	border-top: 2px solid #B2B2B2;

	.navmid {
		display:flex;
		justify-content:center;
		
	}

	a {
		color: #000;
		font-size: 16px;
		text-transform: uppercase;
		font-family: $font;
	}
}

.logo {
	background-image: url("../img/slogan.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 280px;
}

.modal {
	overflow-y: hidden!important;
	background-color: #65A0DC;
}

.titleModal {
	font-size: 45px;
	text-align: center;
	font-weight: 800;
	font-family: $font;
	color: white;
}

.logoModal {
	text-align: center;
	margin-left: 17em;
}

.btn-connect {
	padding-left: 50px;
}
