$font : 'Raleway', sans-serif;
$color1 : #65A0DC;
$color2 : #ffcdbe;

body,html{
  font-family: 'Raleway', sans-serif;
}
#testcontainer{
  padding-left: 10%;
  padding-right: 10%;
}
.row{
  padding-top: 5%;
}
.picto{
  height: 250px;
}
.texte{
  height: 200px;
  text-align: center;
  font-size: 15px;
  span{
    font-weight: bold;
    font-size: 20px;
  }
}
#picto1{
  background-image: url('../img/picto1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto2{
  background-image: url('../img/picto2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto3{
  background-image: url('../img/picto1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto4{
  background-image: url('../img/picto2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.story{
  text-align: center;
}
.team{
  width: 100%;
  height: 500px;
  background-image: url('../img/team.jpg');
  background-size: cover;


}
.title{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 30px;
}
.carte{
  height: 350px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#carte1{
  margin-left: 5%;
}
#carte2{

}
#photo1{
  background-image: url('../img/Cecile.JPG');
  height: 200px;
  background-position: center;
  background-size: cover;
}
#photo2{
  background-image: url('../img/Fania.jpg');
  height: 200px;
  background-size: cover;
    background-position: center;
}
#photo3{
  background-image: url('../img/Fatime.jpg');
  height: 200px;
  background-size: cover;
    background-position: center;
}
#photo4{
  background-image: url('../img/Helene.jpg');
  height: 200px;
  background-size: cover;
    background-position: center;
}
#photo5{
  background-image: url('../img/Samantha.jpg');
  background-size: cover;
    background-position: center;
  height: 200px;
}
#photo6{
  background-image: url('../img/Solange.jpg');
  background-size: cover;
    background-position: center;
height: 200px;
}
#photo7{
  background-image: url('../img/Sandra.jpg');
  background-size: cover;
    background-position: center;
height: 200px;
}
.imgtemoignage{
  background-image: url('../img/picto1.png');
  height: 300px;
  background-size: cover;
}
.textTemoignage{
  text-align: center;
  span{
    font-size: 50px;
    font-weight: bold;
  }
}

.btn1{
  padding: 5px;
  border: 1px solid black;
}
.btn2{
  padding: 5px;
  border: 1px solid black;
}
.btn3{
  padding: 5px;
  border: 1px solid black;
}
.btn4{
  padding: 5px;
  border: 1px solid black;
}
.btn5{
  padding: 5px;
  border: 1px solid black;
}
.btn6{
  padding: 5px;
  border: 1px solid black;
}
.btn7{
  padding: 5px;
  border: 1px solid black;
}
.nom{
  display: none;
  font-weight: normal;
  font-size: 15px;
}
.textnom{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom2{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom3{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom4{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom5{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom6{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
.textnom7{
  display: none;
  background-color: white;
  z-index: 100;
  position: absolute;
  width: 165px;
  height: 0px;
  animation: yo 1s ease forwards;
  bottom: 42%;
}
@keyframes yo{
  from{ height: 0px;}
  to{height: 210px;}
}
