$font : 'Raleway', sans-serif;
$color1 : #65A0DC;
$color2 : #ffcdbe;

body,html{
  font-family: 'Raleway', sans-serif;
}
#testcontainer{
  padding-left: 10%;
  padding-right: 10%;
}
.row{
  padding-top: 5%;
}
.picto{
  height: 250px;
}
.texte{
  height: 200px;
  text-align: center;
  font-size: 15px;
  span{
    font-weight: bold;
    font-size: 20px;
  }
}
#picto1{
  background-image: url('../img/picto1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto2{
  background-image: url('../img/picto2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto3{
  background-image: url('../img/picto1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#picto4{
  background-image: url('../img/picto2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.story{
  text-align: center;
}
.team{
  width: 100%;
  height: 500px;
  background-image: url('../img/team.jpg');
  background-size: cover;


}
.title{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 30px;
}
.carte{
  height: 350px;
  text-align: center;
}
#carte1{
  margin-left: 5%;
}
#carte2{

}
#photo1{
  background-image: url('../img/Cecile.JPG');
  height: 200px;
  background-size: cover;
}
#photo2{
  background-image: url('../img/Fania.jpg');
  height: 200px;
  background-size: cover;
}
#photo3{
  background-image: url('../img/Fatime.jpg');
  height: 200px;
  background-size: cover;
}
#photo4{
  background-image: url('../img/Helene.jpg');
  height: 200px;
  background-size: cover;
}
#photo5{
  background-image: url('../img/Samantha.jpg');
  background-size: cover;
  height: 200px;
}
#photo6{
  background-image: url('../img/Solange.jpg');
  background-size: cover;
height: 200px;
}
#photo7{
  background-image: url('../img/Sandra.jpg');
  background-size: cover;
height: 200px;
}
.imgtemoignage{
  background-image: url('../img/Helene.jpg');
  height: 300px;
  background-size: cover;
}
.textTemoignage{
  text-align: center;
  span{
    font-size: 50px;
    font-weight: bold;
  }
}
