body {
    margin: 0;
    padding: 0;
}

.updateForm, .createForm, .settingsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

.createAdmin{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 50px;
    border-radius: 10px;
}

.formAdmin {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 50px;
    border-radius: 10px;
}

input, label {
    flex-direction: column;
}



.createForm {margin-top: 100px;}

.message {
    margin-top: 60px;
}
#atelier{
  width: 250px;
}

<<<<<<< HEAD
.btn-danger {
    margin-left: 37em;
    margin-top: -30em;
}

.deleteAccount {
    margin-top: 10em;
}


=======
textarea{resize: none;
}
>>>>>>> 14e42d384ed4377772a9f32b27aa43a5cd0fe293

h1 {
    text-align: center;
    font-family: open-sans;
    font-size: 30px;
    font-weight: bold;
}
